.contents{
	padding-top: 80px;
}
#header {
	
	padding-bottom: 8px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #FFFAE5 ; /* #0F6A8B #F5EED2*/
	border-top: 7px solid transparent ;
	border-bottom: 7px solid transparent ;
	background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
}

body {

}
   
.caret {
	margin-left: 10px
}
.white{
	color: black;/* white */
}